# Dependencies
node_modules
vendor
.pnpm-store

# Environment files
.env
.env.*

# Development files
.git
.gitignore
.idea
.vscode
*.log

# Build output
build
dist
public/build

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Cache and temporary files
.cache
*.cache
tmp
temp
*.tmp 