/.phpunit.cache
/public/hot
/public/storage
public/build/
**/build/
/storage/*
!public/logos/
!/storage/app/
!/storage/app/public/
!/storage/app/public/attachments/
!storage/app/public/attachments/
!its/storage/app/public/attachments/*.jpg
!its/storage/app/public/attachments/*.pdf
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.cursor
/.fleet
/.idea
/.vscode
app.txt
.env_prod.txt
.env_local.txt
env_prod.txt
env_local.txt
storage/logs/laravel.log
/database/factories/
/database/seeders/
node_modules/
build/
dist/
.next/
.vite/public/build/

# Exclude backup directories
config_bkup/

# Exclude PDF.js library
/public/js/lib/pdfjs-dist/

# Exclude Ziggy routes file
/resources/js/ziggy.js

# Exclude .ftl files (PDF.js locale files)
*.ftl
.env
